<section style="display: block">
    <div class="container-doll">
        <div class="slots-armor">
            <div class="slot-item" data-slot-type="armor" data-slot-category="helmet" data-slot-name="armor-0">
                <div class="slot-header" style="justify-content: right">
                    <h3>Helmet</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="armor" data-slot-name="relic-0">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="armor" data-slot-name="relic-1">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="armor" data-slot-category="cuirass" data-slot-name="armor-1">
                <div class="slot-header" style="justify-content: right">
                    <h3>Cuirass</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="armor" data-slot-name="relic-2">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="armor" data-slot-name="relic-3">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="armor" data-slot-category="greaves" data-slot-name="armor-2">
                <div class="slot-header" style="justify-content: right">
                    <h3>Greaves</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="armor" data-slot-name="relic-4">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="armor" data-slot-name="relic-5">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="armor" data-slot-category="gauntlet" data-slot-name="armor-3">
                <div class="slot-header" style="justify-content: right">
                    <h3>Gauntlets</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="armor" data-slot-name="relic-6">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="armor" data-slot-name="relic-7">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="armor" data-slot-category="boot" data-slot-name="armor-4">
                <div class="slot-header" style="justify-content: right">
                    <h3>Boots</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="armor" data-slot-name="relic-8">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="armor" data-slot-name="relic-9">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="doll-wrapper">
            <img class="doll-image" src="/media/games/tainted-grail/graphics/tainted-grail-doll.webp" alt="">
        </div>
        <div class="slots-jewelry">
            <div class="slot-item" data-slot-type="jewelry" data-slot-name="jewelry-0">
                <div class="slot-header">
                    <h3>Jewelry 1</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="jewelry" data-slot-name="jewelry-1">
                <div class="slot-header">
                    <h3>Jewelry 2</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="jewelry" data-slot-name="jewelry-2">
                <div class="slot-header">
                    <h3>Jewelry 3</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-loadout">
        <div>
            <h3>Weapon Loadout</h3>
        </div>
        <div  style="grid-template-columns: repeat(4, 85px);" class="slots-weapon">
            <div class="slot-item" data-slot-type="weapon" data-slot-types="weapon,magic" data-slot-name="weapon-0">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-10">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-11">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="weapon" data-slot-types="weapon,magic" data-slot-name="weapon-1">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-12">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-13">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="weapon" data-slot-types="weapon,magic" data-slot-name="weapon-2">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-14">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-15">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="weapon" data-slot-types="weapon,magic" data-slot-name="weapon-3">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-16">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-17">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="weapon" data-slot-types="weapon,magic" data-slot-name="weapon-4">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-18">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-19">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="weapon" data-slot-types="weapon,magic" data-slot-name="weapon-5">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-20">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-21">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="weapon" data-slot-types="weapon,magic" data-slot-name="weapon-6">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-22">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-23">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="weapon" data-slot-types="weapon,magic" data-slot-name="weapon-7">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-24">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                    <div class="metadata-item" data-slot-type="relic" data-slot-category="weapon" data-slot-name="relic-25">
                        <button><span class="material-symbols-outlined">add</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>