<section style="display: block">
    <div class="container-doll">
        <div class="slots-armor">
            <div class="slot-item" data-slot-type="armor" data-slot-category="helmets"  data-slot-name="armor-0">
                <div class="slot-header" style="justify-content: right">
                    <h3>Helmet</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="armor" data-slot-category="chest" data-slot-name="armor-1">
                <div class="slot-header" style="justify-content: right">
                    <h3>Cuirass</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="armor" data-slot-category="gauntlets" data-slot-name="armor-2">
                <div class="slot-header" style="justify-content: right">
                    <h3>Gauntlets</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="armor" data-slot-category="legs" data-slot-name="armor-3">
                <div class="slot-header" style="justify-content: right">
                    <h3>Legs</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="doll-wrapper">
            <img class="doll-image" src="/media/games/elden-ring/graphics/elden-ring-doll.webp" alt="">
        </div>
        <div class="slots-talisman">
            <div class="slot-item" data-slot-type="talisman" data-slot-name="talisman-0">
                <div class="slot-header">
                    <h3>Talisman 1</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="talisman" data-slot-name="talisman-1">
                <div class="slot-header">
                    <h3>Talisman 2</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="talisman" data-slot-name="talisman-2">
                <div class="slot-header">
                    <h3>Talisman 3</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="talisman" data-slot-name="talisman-3">
                <div class="slot-header">
                    <h3>Talisman 4</h3>
                </div>
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-loadout">
        <div>
            <h3>Weapon Loadout</h3>
        </div>
        <div class="slots-weapon">
            <div class="slot-item" data-slot-type="weapon" data-slot-name="weapon-0">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="ash-of-war" data-slot-name="ash-of-war-0">
                        <button>
                            <span class="material-symbols-outlined">add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="weapon" data-slot-name="weapon-1">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="ash-of-war" data-slot-name="ash-of-war-1">
                        <button>
                            <span class="material-symbols-outlined">add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="weapon" data-slot-name="weapon-2">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="ash-of-war" data-slot-name="ash-of-war-2">
                        <button>
                            <span class="material-symbols-outlined">add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="weapon" data-slot-name="weapon-3">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="ash-of-war" data-slot-name="ash-of-war-3">
                        <button>
                            <span class="material-symbols-outlined">add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="weapon" data-slot-name="weapon-4">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="ash-of-war" data-slot-name="ash-of-war-4">
                        <button>
                            <span class="material-symbols-outlined">add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="weapon" data-slot-name="weapon-5">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
                <div class="slot-metadata is-hidden">
                    <div class="metadata-item" data-slot-type="ash-of-war" data-slot-name="ash-of-war-5">
                        <button>
                            <span class="material-symbols-outlined">add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-loadout">
        <div>
            <h3>Spells</h3>
        </div>
        <div class="slots-spell">
            <div class="slot-item" data-slot-type="spell" data-slot-name="spell-0">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="spell" data-slot-name="spell-1">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="spell" data-slot-name="spell-2">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="spell" data-slot-name="spell-3">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="spell" data-slot-name="spell-4">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="spell" data-slot-name="spell-5">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="spell" data-slot-name="spell-6">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="spell" data-slot-name="spell-7">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="spell" data-slot-name="spell-8">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slot-item" data-slot-type="spell" data-slot-name="spell-9">
                <div class="slot-media">
                    <div class="slot-placeholder <%= !isOwner ? 'is-hidden' : '' %>" >
                        <span class="material-symbols-outlined">add</span>
                        <p>Empty</p>
                    </div>
                    <img class="slot-image is-hidden" src="" alt="">
                    <div class="slot-overlay">
                        <button class="slot-clear is-hidden">
                            <span class="material-symbols-outlined">close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>